%h1 Exercices
.well Découvrez prochainement une série d'exercices pour vous aider à progresser.
%form{ method: "post"} 
  Le chat mange des
  %input{type: "text", name: "answer1"}
  %input{ type: "submit" } 


