%h2 #{@exercise.title}
%form{method: "post"}
  %ol
    - @questions.each do |question|
      %li= erb "question_#{question.status}".to_sym, locals: {question: question}
  %input{type: "submit", value:"Submit"}
