%h2= session[:success_message]
%ul.thumbnails
  %li.span4
    .thumbnail
      %img{:src => "img/door.jpg"}
      %h2 
        %a{ :href => "/lessons"} Lessons
      %p Browse our lessons with topics such as French grammar, verbs and words spelling.
  %li.span4
    .thumbnail
      %img{:src => "img/pencils.jpg"}
      %h2 
        %a{ :href => "/exercises"} Exercises
      %p Grab a pen and test your skills!
