%h1 Welcome!
.well Browse our lessons and exercises to improve your written skills in French. All the resources are designed for advanced learners.
%p
%a{ :href => "/lessons"} Lessons
%p
%a{ :href => "/exercises"} Exercises
