%h1 Plateforme d'apprentissage
%p Progressez rapidement en français
- learning_materials = ['mots_a_ne_pas_confondre', 'conditionnel', 'accents', 'adverbes', 'courriels'] 
- learning_materials.each do |material_name|
  %p
  %a{ :href => "/learning_materials/#{material_name}" } #{material_name.capitalize}

