%ul.thumbnails
  %li.span4
    .thumbnail
      %img{:src => "img/door.jpg"}
      %h2 
        %a{ :href => "/lessons"} Lessons
      %p Browse advanced French lessons (only in French!)
  %li.span4
    .thumbnail
      %img{:src => "img/pencils.jpg"}
      %h2 
        %a{ :href => "/exercises"} Exercises
      %p Test your skills!
