%html
  %head
    %title Écrire sans faute
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"} 
    %link{:href => "/css/titles.css", :rel => "stylesheet"}
    %link{:href => "/css/lessons.css", :rel => "stylesheet"}
  %body
    .container
      .navbar
        .navbar-inner
          %a.brand{:href => "/"} Écrire sans faute
          %ul.nav
            %li
              %a{:href => "/lessons"} Leçons
            %li
              %a{:href => "/exercises"} Exercices 
      =yield
