%html
  %head
    %title Advanced French
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"} 
    %link{:href => "/css/titles.css", :rel => "stylesheet"}
    %link{:href => "/css/lessons.css", :rel => "stylesheet"}
  %body
    .container
      .navbar
        .navbar-inner
          %a.brand{:href => "/"} Advanced French
          %ul.nav
            %li
              %a{:href => "/lessons"} Lessons
            %li
              %a{:href => "/exercises"} Exercises 
      =yield
