%html
  %head
    %title Écrire sans faute
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"} 
  %body
    .container
      .navbar
        .navbar-inner
          %a.brand{:href => "/"} Écrire sans faute
      =yield
