%html
  %head
    %title Advanced French
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"} 
    %link{:href => "/css/titles.css", :rel => "stylesheet"}
    %link{:href => "/css/lessons.css", :rel => "stylesheet"}
    %link{:href => "/css/nav.css", :rel => "stylesheet"}
  %body
    %script{:type => "text/javascript", :src => "../js/jquery.js"}
    %script{:type => "text/javascript", :src => "../js/lesson.js"}
    .navbar
      .navbar-inner
        %a.brand.pull-left{:href => "/"} Advanced French
        %ul.nav.pull-right
          %li
            %a{:href => "/lessons"} Lessons
          %li
            %a{:href => "/exercises"} Exercises 
          - if session["email"]
            %li.login-message Logged in as #{session["email"]}
            %li 
              %a{:href => "/signout"} Sign out
          - else
            %li
              %a{:href => "/login"} Login
    .container
      .row
        =yield
