%html
  %head
    %title Advanced French
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"} 
    %link{:href => "/css/titles.css", :rel => "stylesheet"}
    %link{:href => "/css/lessons.css", :rel => "stylesheet"}
  %body
    %script{:type => "text/javascript", :src => "../js/jquery.js"}
    %script{:type => "text/javascript", :src => "../js/lesson.js"}
    .container
      .navbar
        .navbar-inner
          %a.brand{:href => "/"} Advanced French
          %ul.nav
            %li
              %a{:href => "/lessons"} Lessons
            %li
              %a{:href => "/exercises"} Exercises 
            %li
              %a{:href => "/login"} Login
      .row
        .span8
          =yield
