<html>
  <head>
    <title>Advanced French</title>
    <link href = "/css/bootstrap.min.css", rel= "stylesheet"></link>
    <link href = "/css/titles.css", rel= "stylesheet"></link>
    <link href = "/css/lessons.css", rel= "stylesheet"></link>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href = "/">Advanced French</a>
          <ul class="nav">
            <li><a href="/lessons">Lessons</a>
            <li><a href="/exercises">Exercises</a>
          </ul>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
