%h2 Leçons disponibles 
- learning_materials_cat = { Grammaire: ['Conditionnel', 'Adverbes'], Orthographe: ['Accents', 'Mots à ne pas confondre', 'Courriels']}
- learning_materials_cat.each do |category, lessons|
  %h3 #{category}
  - lessons.sort.each do |lesson|
    %p
    %a{ :href => "/lessons/#{lesson.parameterize}" } #{lesson}
