%h2 Lessons
- @categories.each do |category|
  %h3= category
  - @lessons.each do |lesson|
    - if category == lesson.category
      %p
        %i.icon-book
        %a{ :href => lesson.url}= lesson.title
