h1, h3{
  font-weight: 200;
}

h1{
  margin-bottom: 10px;
}

h2{
  font-size: 16px;
  text-transform:uppercase;
  margin-bottom: 16px;
  margin-top: 25px;
  font-weight:400;
  border-bottom: 1px solid black;
}

h3{
  font-size: 17px;
  margin-bottom: 7px;
  margin-top:10px;
  border-bottom: 1px dotted black;
}
