%h2 10 astuces pour écrire de bons courriels
%h3 Astuce 1 : Un objet simple et clair
%p N’écrivez pas en lettres capitales, évitez de mettre des points d’exclamation ou des URL. Ce genre d’objet risque de faire croire à un spam, votre courrier sera donc directement placé dans la boîte spam du destinataire, qui ne pourra pas le lire.
%p Assurez-vous que l’objet correspond bien avec le sujet. Il doit être simple et descriptif, sans verbe.
%h3 Astuce 2 : Soignez l'introduction
%p Les premières lignes doivent servir à expliquer de manière précise l’objectif de votre courriel. Mettez- vous à la place du destinataire : il reçoit une grande quantité d’informations et doit être capable de rapidement comprendre vos intentions.
%p N’hésitez pas à vous introduire brièvement à chaque fois que vous communiquez avec quelqu’un qui ne vous est pas familier. Soyez sûr qu’il sait qui vous êtes. Le mieux est d’avoir une signature électronique avec vos nom, prénom, adresse, entreprise.
%h3 Astuce 3 : Gardez un texte court
%p Nous recevons tous des dizaines de courriels par jour, quil faut traiter très rapidement sous peine d'oublier ensuite. En contexte professionnel, le courriel aide à communiquer sur des affaires quotidiennes, pas à faire des planifications stratégiques. En général, si votre texte dépasse la vingtaine de lignes, l'affaire est trop compliquée pour être traitée de cette manière. Utilisez le téléphone ou ajoutez une pièce jointe pour le détail. 
%h3 Astuce 4 : Structurez le texte
%p Il doit être clair, avec beaucoup d’espace entre les paragraphes, des idées concises et des phrases courtes (pas plus de 2 lignes). Utilisez des listes à puces dès que nécessaire.
%h3 Astuce 5 : Adoptez un ton calme 
%p N’adoptez jamais un ton énervé. Vous devez être d’autant plus vigilant(e) que des mêmes mots seront ressentis très différemment à l’oral ou à l’écrit.
%h3 Astuce 6 : Restez sérieux
%p Évitez les successions de points d’exclamation, les abréviations, car cela laisse penser que vous manquez d’intérêt ou de respect pour votre interlocuteur, que vous êtes trop pressé pour lui écrire des courriels corrects.
%h3 Astuce 7 : Soyez discret et vigilant
%p Avec vos collègues ou supérieurs, ne discutez que de sujets publics. N’abordez pas de sujets sensibles ou confidentiels. Soyez sûr que ce que vous avez écrit ne risque pas de vous mettre dans l’embarras.
%h3 Astuce 8 : Attention aux pièces jointes
%p Au travail, si vous utilisez Windows, vous avez la garantie que tout le monde a la suite Office installée sur son ordinateur. En revanche, il se peut que vos interlocuteurs de lextérieur n'utilisent pas Windows. Dans ce cas, pensez à convertir vos fichiers dans un format lisible facilement par tout le monde (par exemple PDF).
%h3 Astuce 9 : Utilisez un correcteur orthographique
%p Ne négligez pas celui qui doit être un outil de travail essentiel...et un allié du quotidien! Libre à vous de choisir votre correcteur orthographique du moment que vous en utilisez un.
%p Les sites Internet de correction automatique ont quelques atouts, mais ils ne remplacent absolument pas un correcteur payant, conçu par des équipes de spécialistes qui analysent la langue française de manière très précise pour corriger les textes.
%h3 Astuce 10 : Relisez-vous!
%p Vous avez fait le plus dur, prenez quelques minutes pour relire votre texte en adoptant un point de vue extérieur : est-ce que la personne qui vous lit va tout comprendre facilement? Avez-vous laissé des fautes dorthographe?  Pensez à appliquer ces quelques conseils simples au quotidien et les courriels ne seront plus jamais une perte de temps!
