%h1 Accents sur la lettre e
%p On peut mettre 4 accents différents sur la lettre «e» :
%ul
  %li accent aigu : é 
  %li accent grave : è 
  %li accent circonflexe : ê 
  %li tréma : ë 
%p Souvent, on met un accent car on veut donner un son différent du son «e» normal. Voici quelques règles pour savoir où les placer, lorsque c'est nécessaire.
%h2 Pas d'accent sur le «e»
%p Pas d’accent sur un « e » suivi d’un « x ».  
%blockquote exister, exemple
%p Pas d'accent non plus sur un «e» suivi de deux consonnes identiques.
%blockquote emmener, effacer, mettre
%h2 Accent aigu (é)
%p Pour savoir où mettre «é», il faut examiner attentivement le mot. 
%ul
  %li Si le «e» qui fait le son «é» est placé devant 1 consonne puis 1 voyelle, alors il faut mettre l'accent.
%blockquote métier, gérer, médecin
%ul
  %li Si le «e» qui fait le son «é» est suivi de deux consonnes différentes, il y a plusieurs cas :
%blockquote Normalement, il ne faut pas mettre d’accent : rester, espacer
%blockquote Sauf si la <b>seconde</b> consonne est «r», «h», «l» ou «n» : écrire, déplier, échafauder, régner
%h2 Accent grave (è)
%p Il y a deux cas principaux où il faut mettre le «è» :
%ul
  %li En fin de mot, lorsque ce mot au singulier est terminé par un –s : 
%blockquote accès, après, auprès, congrès, décès, excès, exprès, près, progrès, succès, très
%ul
  %li Dans l’avant-dernière syllabe d’un mot qui se termine par un « e  muet » (c’est-à-dire qu’on n’entend pas) :
%blockquote règle, père, chère
%h2 Accent circonflexe (ê)
%p Il n'y a pas vraiment de règles pour savoir où mettre le «ê». Apprenez la liste de ces mots difficiles par coeur :
%blockquote arrêt (et arrêter), enquête (et enquêter), empêcher, être, fenêtre, fête, honnête (et honnêteté), intérêt, même, peut-être, prêt( et prête), rêve, tête, vêtement
%h2 Tréma
%p Le tréma indique qu’on doit prononcer la voyelle qui précède. Il se place donc sur la deuxième voyelle.
%p Il y a finalement assez peu de mots qui comportent un tréma sur le «e». Les plus courants sont les suivants :
%blockquote Noël, Israël
%blockquote aigu/aiguë
%blockquote ambigu (masculin)/ambiguë (féminin)
