.span8
  %h2 Adverbs
  %h3 Qu'est-ce qu'un adverbe de manière?
  %p Les adverbes de manière précisent la manière dont on exécute une action.
  %blockquote Je quitte <b>fréquemment</b> le bureau après 17h.
  %blockquote Ce programme est <b> étonnamment</b> simple à utiliser malgré sa complexité.
  %h3 Cas général
  %p La plupart du temps, l'orthographe des adverbes de manière ne pose pas de problème particulier : on rajoute «-ment»  à un adjectif au féminin. 
  %p On le fait sans s'en rendre compte : par exemple, quand on dit «malheureusement», on prend l'adjectif «malheureux» que l'on met au féminin pour ensuite lui rajouter le suffixe «-ment».
  %h3 Adverbes avec le son /amant/
  %p La difficulté vient surtout des adverbes qui se finissent par le son /amant/ et qui donnent lieu à beaucoup d'écritures exotiques.
  %p Ces adverbes viennent d'adjectifs qui se terminent en «-ent» ou «-ant». En retrouvant ces adjectifs, vous saurez si vous devez écrire  «-emment» ou  «-amment» (les deux «m» sont obligatoires dans tous les cas).
  %p Ainsi, on écrit :
  %ul
    %li «Évidemment» car il vient d'«évident», qui se termine en «-ent»;</br>
  %blockquote <b>Évidemment</b>, nous n'avons pas trouvé d'employé connaissant le Cobol : ils sont tous à la retraite!
  %ul
    %li «Bruyamment» car il vient de «bruyant», qui se termine en «-ant»;
  %blockquote Cet ordinateur démarre très <b>bruyamment</b>.
  %ul
    %li «Notamment», quant à lui, s'écrit bien avec un «a» et deux «m», même s'il ne provient pas d'un adjectif.
  %blockquote J'utilise cette suite logicielle pour beaucoup de raisons, <b>notamment</b> à cause de son prix.
  %p Si vous avez le moindre doute sur l'écriture de l'adjectif, il vaut mieux consulter un dictionnaire.
  %h3 Autres cas particuliers
  %p 1. Quelques adverbes prennent un accent circonflexe sur le «u» : assidûment, dûment, indûment (ainsi que d’autres très peu utilisés) 
  %blockquote Depuis qu'il est arrivé, il travaille très <b>assidûment</b> ses cours de français du soir.
  %p 2. Quand l’adjectif au masculin se termine par une voyelle (i, é, u), on va rajouter « –ment » sans le passer au féminin.
  %ul
    %li «Poli» devient «poliment»
  %blockquote Elle a demandé très <b>poliment</b> s'il souhaitait rendre son badge.
  %ul
    %li «Vrai» devient «vraiment»
  %blockquote Es-tu <b>vraiment</b> étonnée de sa démission?
  %p 3. Deux autres exceptions à retenir :
  %ul
    %li «Gai» devient «gaiement»
  %blockquote Quand on travaille <b>gaiement</b>, la vie est plus facile pour les collègues.
  %ul
    %li «Gentil» devient «gentiment»
  %blockquote Peux-tu leur demander <b>gentiment</b> de quitter la salle au plus vite?
