%h1 'Catégorie Modes et temps du verbe - Conditionnel ou indicatif?'
%p Il y a souvent une confusion entre futur (-ai) et conditionnel (-ais) à la première personne du singulier.
%blockquote Je voudrai ou voudrais.
%p Comment les différencier?
%h2 'Cas général', 'h2'
%p Le futur évoque des actions qui vont se réaliser de manière certaine ou probable.
%blockquote J'irai à Barcelone pour assister au Congrès international de Microsoft.
%p Le conditionnel s'utilise pour des actions dont on ne sait pas si elles vont se réaliser, ainsi que dans les formules de demande polie.
%blockquote Je viendrais volontiers, mais je ne suis pas sûr d'avoir le temps. (incertitude)
%blockquote J'aimerais en savoir plus sur la pratique que vous animez. (demande polie)
%h2 'Cas particulier : les hypothèses', 'h2'
%p Dans le cas des hypothèses, les règles énoncées ci-dessus ne s'appliquent pas vraiment : il faut se référer à la table de correspondance des temps présentée ci-dessous.
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Probabilité 
      %th Condition (verbe à l'indicatif)
      %th Conséquence
      %th Tournure 1
      %th Tournure 2
  %tbody
    %tr
      %td Entre 50% et 90% : possible ou probable
      %td <b>si</b> + verbe au présent
      %td Verbe au présent, futur ou présent de l'impératif
      %td Si j'apprends le JavaScript, je suis sûr d'avoir un emploi mieux rémunéré.
      %td Je suis sûr d'avoir un emploi mieux rémunéré si j'apprends le JavaScript.
    %tr
      %td Entre 10% et 50% : pas réalisé pour l'instant ou peu probable
      %td <b>si</b> + verbe à l'imparfait
      %td Verbe au conditionnel présent
      %td Si l'échéancier était plus réaliste, nous ne serions pas en retard de 2 mois sur la livraison du logiciel.
      %td Nous ne serions pas en retard de 3 mois sur la livraison du logiciel si l'échéancier était plus réaliste.
    %tr
      %td 0% : ne s'est pas réalisé
      %td <b>si</b> + verbe au plus-que-parfait
      %td Verbe au conditionnel passé
      %td Si je n'avais pas fait d'études en informatique, je me serais dirigé vers des études d'ingénieur.
      %td Je me serais dirigé vers des études d'ingénieur si je n'avais pas fait d'études en informatique.

