.span8
  %h2 Homophones
  %h3 Différend et différent
  %p <b>Différend</b> : nom, désigne un désaccord entre personnes.
  %blockquote Il faut savoir intervenir dans un différend avec impartialité.
  %p <b>Différent, différente</b> : adjectif, qui distingue une chose d’une autre. 
  %blockquote La différence se fera essentiellement au niveau des prix.
  %h3 Censé et sensé
  %p <b>Censé</b> : supposé (je suis censé arriver au travail tôt le matin)
  %blockquote Un bon gestionnaire est censé avoir des qualités de leadership.
  %p <b>Sensé</b> : qui a du bon sens, qui est conforme au bon sens (c’est une personne sensée, qui comprendra les enjeux de cette décision).
  %blockquote Même en cas de conflit, il faut savoir prendre des décisions sensées.
  %h3 Cote et côte
  %p <b>Cote</b> : vient de « quote », que l’on retrouve dans quota, quote-part… Il signifie « valeur » (souvent une valeur financière). On le retrouve dans cotiser.
  %blockquote La cote de notre action a augmenté de 10% en un an.
  %p <b>Côte</b> : vient de « costa », désigne une pente (de chemin par exemple), le rivage.  Côté s’écrit également avec l’accent circonflexe.
  %blockquote La côte de lapprentissage est très difficile pour ce framework!
  %h3 Cession et session
  %p <b>Cession</b> : action de céder à quelqu’un ce dont on est propriétaire.
  %blockquote La cession des parts ne peut se faire qu'après 3 ans. 
  %p <b>Session</b> : période pendant laquelle se tiennent examens, entretiens ou réunions (on y siège). (Il a eu son baccalauréat lors de la session de septembre).
  %blockquote Chaque session de formation dure en moyenne 3 mois.
  %h3 Coût et coup
  %p <b>Coût</b> : prix d’une chose (quelque chose coûte cher).
  %blockquote Le coût de cette erreur va être énorme.
  %p <b>Coup</b> : actions humaines inattendues, bruit que fait un corps sur un autre en le frappant (coup de main ; coup d’œil, etc. )
  %blockquote Le départ de cet employé a porté un gros coup au moral pour toute léquipe.
  %h3 Fond et fonds
  %p <b>Fond</b> : le point le plus bas de quelque chose, le plus profond (le fond de la misère, aller au fond des choses)
  %blockquote Quand je teste une application, je vais jusqu'au fond des choses.
  %p <b>Fonds</b> : tout ce qui est relatif à l’argent ou à la possession d’un bien (fonds de commerce, fonds monétaire international). 
  %blockquote Ils ont débloqué les fonds relatifs à la prime de performance.
  %h3 Parti et partie
  %p <b>Un parti</b> : signifie en général un regroupement de personnes, notamment en politique. On l'utilise également dans l'expression : « prendre parti pour quelqu'un ».
  %blockquote Il n'aime pas prendre parti pour un groupe ou un autre.
  %p <b>Une partie</b> : un élément d’un tout (faire partie d’un groupe). On trouve également l’expression « prendre quelqu’un à partie ».
  %blockquote Une partie de mon travail est inutile.
  %h3 Tache et tâche
  %p <b>Tache</b> : salissure.
  %blockquote Il est arrivé devant le client avec une énorme tache sur son costume.
  %p <b>Tâche</b> : le travail déterminé que l’on a l’obligation de faire.
  %blockquote La fiche de poste décrit les principales tâches dun emploi.
  %h3 Sur et sûr
  %p <b>Sur</b> : préposition signifiant « au-dessus de ».  
  %blockquote Posez le classeur sur mon bureau.
  %p <b>Sûr, sûre</b> : adjectifs ;  signifient « en sécurité », « certain ».
  %blockquote Il est sûr qu'il arrivera à négocier ce contrat.
